__pycache__/
*.py[cod]
*$py.class
.python-version

.venv/
venv/
ENV/
env/
.conda/
.python-hosts

dist/
build/
*.egg-info/
.eggs/
nosetests.xml
coverage.xml
*.cover
.secrets  # Archivos de variables de entorno sensibles
.env
.venv

.pytest_cache/
.tox/
.nox/
.coverage
.mypy_cache/
.ruff_cache/
.hypothesis/

.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

.ipynb_checkpoints
